{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block page_title %}Greendoors Mail{% endblock %}
{% block body_class %}{{ block.super }}{% endblock %}

{% block content %}

            <h1>PRIVACY POLICY</h1>

            <p>
                Thank you for your downloading the Bristol Green Doors app. This page explains how any personal data
                collected
                in
                the process of using this application will be stored and used.
            </p>

            <h2>Email Address</h2>

            <p>
                Your email address will be used to provide you with a personalised list of the features you scanned
                during
                the
                Bristol Green Doors weekend of 13-14 September.
            </p>

            <p>
                If you have opted in to taking part in the University of Bristol research study, we will be in touch
                about
                the
                next stage of the research when it is ready. This may involve an online survey or an interview, and a
                financial
                incentive in the form of gift vouchers will be provided to compensate for your time. You can opt-out at
                any
                time, and submission of your email address does not obligate you to participate in the study. If you
                have
                previously opted out but would like to participate, please send us an <a
                    href="mailto:elaine.massung@bristol.ac.uk">email</a>.
            </p>


            <p>
                If you have opted in to receiving information from Bristol Green Doors, you will be added to the mailing
                list
                for their monthly newsletter, which provides helpful information about how to save energy and money.
                They
                may
                also contact you about future Bristol Green Doors events. To opt out, send us an <a
                    href="mailto:info@bristolgreendoors.org">email</a>.
            </p>


            <p>
                Your email address will only be used for these purposes and will not be passed on to any third parties.
            </p>

            <h2>What data is collected? </h2>

            <p>
                The details about the QR codes scanned are held in order to provide you with a personalised report,
                which you can access on the website. Information about how the app is used, such as which buttons are
                pressed, are also collected in order to determine which features are most or least popular.
            </p>

            <h2>How will data be used? </h2>

            <p>
                Information about user behaviour and frequency of features used will be used to improve the user
                experience.

                The links provided in the personalised report will be tracked to so that University of Bristol can
                determine
                the
                effectiveness of the Bristol Green Doors and their events.

                Anonymous data may be written up and published or shared in the academic community.
            </p>

            <p>
                Anonymous data may be written up and published or shared in the academic community.
            </p>

            <h2>How long will my data be stored? </h2>

            <p>
                Your email address and the data collected will be stored for the duration of the Digital Green Doors
                study.
            </p>

            <h2>Data Protection Legislation </h2>

            <p>
                The University of Bristol is your data controller. As your data controller, the University has notified
                its
                activities to the Office of the Information Commissioner as required under the Data Protection Act 1998
                (the
                "Act") and is listed in the Public Register of Data Controllers. Personal information will only be
                collected
                and/or processed by the University in accordance with the Act.
            </p>

            <h2>Disclosure of your information</h2>

            <p>
                Except as set out in this policy or as required by law, your personal data will not be provided to any
                third
                party without your prior written consent
            </p>

            <p>
                The information you provide to us will be held on our computers in the UK. It may be accessed by or
                given to
                third parties some of whom may be located outside the European Economic Area who act for us for the
                purposes
                set
                out in this policy or for other purposes approved by you. Those parties process information and may
                provide
                support services to the University or on the University's behalf.
            </p>

            <p>
                Countries outside the European Economic Area do not always have strong data protection laws. However, we
                will
                always take steps to ensure that your information is used by third parties in accordance with this
                policy.
            </p>

{% endblock %}